page-onboarding {
  & > ion-content {
    background-position: top center;
    background-size: contain;
  }
  .logo-tagline {
    height: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 15rem;
    }
  }
}
